@use '../mixins/hover.scss' as *;
@use '../mixins/pseudo.scss' as *;
@use '../mixins/responsive.scss' as *;
.titlemain{
    width: 375px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    @include responsive(1200px){
        width: 100%;
    }

    &__square{
        width: 326px;
        margin-left: auto;
        margin-right: auto;
        padding: 0.5rem;
        margin-bottom: 2rem;
        @include responsive(1200px){
            display: flex;
            justify-content: space-between;
            width: 1000px;
        }
    }

    &__massmedia{
        width: 284px;
        height: 20px;
        margin-bottom: 5.5rem;
    }

    &__darkmode{
        justify-content: center;
        align-items: center;
        display: flex;
        gap: 1em;
    }

    &__button{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 50px;
    }

&__toogle-on{
    width: 100%;
}
&__toogle-off{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);

}

&__button:hover .titlemain__toogle-on{
    opacity: 0;

}
&__button:hover .titlemain__toogle-off{
    transform: scale(1);

}
 
}
