@use '../mixins/hover.scss' as *;
@use '../mixins/pseudo.scss' as *;
@use '../mixins/responsive.scss' as *;



.dashboard{
    width: 375px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    &__square{
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
     
    }
    &__followers{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 0.5rem;
      width: 326px;
      height: 216px;
      background-color: var(--color-background);
      border-top: 0.4rem solid var(--color-blue);
      @include hover{
        background-color: var(--color-hover-square);
        cursor: pointer;
    }
    }

    &__followers--red{
      border-top: 0.4rem solid var(--color-red);
    }
   
    &__followers--orange{
      border-top: 0.4rem solid var(--color-orange);
    }
    &__users{
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    &__years{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 129px;
      height: 48px;
    
    }


    &__updowntoday{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      width: 66px;
      height: 15px;
      margin-top: 1rem;
      color: var(--color-green);
    }
    &__updowntoday--red{
      color: var(--color-red);
    }
    &__days{
      display: flex;
      gap: 0.2rem;
    }

}

.dashboard-responsive{
  @include responsive(1200px){
    width: 100%;
  &__box{
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
  }
}
}