:root {
  --color-background: #979797;
  --color-letters: #63687D;
  --color-numbers: #1D1F29;
  --color-blue: #178FF5;
  --color-green: #1EB589;
  --color-red: #C4032B;
  --color-orange: rgba(238,135,126,1);
  --color-hover-square: rgba(151, 151, 151, 0.519);
}

/* Variables SASS */
